<div class="post-container" id="{{post_id}}">
    <div class="vote">
        <button class="upvote-button">
            <img src="/static/images/post/upvote.png" class="upvote">
        </button>
        <p class="num-votes">{{voteCtr}}</p>
        <button class="downvote-button">
            <img src="/static/images/post/downvote.png" class="downvote">
        </button>
    </div>
    <div class="content">
        <div class="post-content">
            <a href="/view/{{post_id}}" class="post-clickable">
                <h4 class="title" id="title-{{post_id}}">{{title}}</h4>
            </a>
            <p class="author">by <a href="/profile/{{author.name}}">{{author.username}}</a></p>
            <a href="/view/{{post_id}}" class="post-clickable">
                <p class="text" id="text-{{post_id}}">{{{content}}}</p>
                {{#if image}}
                <img src="/static/images/post/media/{{image}}" class="sample" id="sample-{{post_id}}">
                {{/if}}
            </a>
        </div>
        <div class="post-actions">
            {{#if (isEqual @root.currentUser.username author.username)}}
            <button class="edit-button" id="edit-{{post_id}}">
                {{!-- onclick="openEditPost(document.querySelector('#title-{{post_id}}'), document.querySelector('#text-{{post_id}}'), document.querySelector('#sample-{{post_id}}'), '{{post_id}}')"> --}}
                <img src="/static/images/post/edit.png" class="edit">
            </button>
            <p class="edit-post">Edit Post</p>
            {{/if}}
            <a href="/view/{{post_id}}" class="post-clickable">
                <button class="comment-button">
                    <img src="/static/images/post/comment.png" class="comment">
                </button>
            </a>

            <p class="comment-num">{{comCtr}} Comments</p>
            <button class="save-button">
                <img src="/static/images/post/save.png" class="save">
            </button>
        </div>
    </div>
</div>