<div class="post-container" id="{{post_id}}">
    <div class="vote">
        <button class="upvote-button">
            <img src="/static/images/post/upvote.png" class="upvote">
        </button>
        <p class="num-votes">{{voteCtr}}</p>
        <button class="downvote-button">
            <img src="/static/images/post/downvote.png" class="downvote">
        </button>
    </div>
    <div class="content">
        <div class="post-content">
            <a href="/view/{{post_id}}" class="post-clickable">
                <h4 class="title">{{title}}</h4>
            </a>
            <p class="author">by <a href="{{username}}.html">{{author}}</a></p>
            <a href="/view/{{post_id}}" class="post-clickable">
                <p class="text">{{{content}}}</p>
                {{#if image}}
                    <img src="/static/images/post/media/{{image}}" class="sample">
                {{/if}}
            </a>
        </div>
        <div class="post-actions">
            <a href="/view/{{post_id}}" class="post-clickable">
                <button class="comment-button">
                    <img src="/static/images/post/comment.png" class="comment">
                </button>
            </a>
            <p class="comment-num">{{comCtr}} Comments</p>
            <button class="save-button">
                <img src="/static/images/post/save.png" class="save">
            </button>
        </div>
    </div>
</div>
