<div class="comment-container">
    <div class="comment-details">
        <img src="../static/images/post/comment.png" class="comment-filter">
        <p><span id="comment-username">{{author.username}}</span> commented on <span
                id="comment-post-title">{{parentPost.title}}</span> • Posted by {{parentPost.author.username}}</p>
    </div>
    <div class="comment-content">
        <i>{{author.username}}</i><br>
        {{content}}<br>
        <button class="reply-button">
            Reply
        </button>
    </div>
</div>