
<div class="top-user">
    <img src="/static/images/profile/cornbrip69.png" class="post-profile">
    <div class="name-container">
        <h5><a href="/static/profile4.html">{{author.username}}</a></h5>
        <p><a href="/static/profile4.html">{{author.username}}</a></p>
    </div>
    <button class="follow-btn">Follow</button>
</div>
<img src="/static/images/post/media/{{image}}" class="sample">
<div class="top-post-text">
    <a href="/view/{{post_id}}" class="post-clickable">
        <h5>{{title}}</h5>
    </a>
    
</div>
<div class="top-post-actions">
    <a href="/view/{{id}}" class="post-clickable">
        <button class="comment-button">
            <img src="/static/images/post/comment.png" class="comment">
        </button>
    </a>
    <button class="save-button">
        <img src="/static/images/post/save.png" class="save">
    </button>
</div>
