<div class="top-user">
    <img src="/static/images/profile/{{author.profile_pic}}" class="post-profile">
    <div class="name-container">
        <h5><a href="/profile/{{author.name}}">{{author.name}}</a></h5>
        <p><a href="/profile/{{author.name}}">{{author.username}}</a></p>
    </div>
</div>
<div class="top-post-text">
    <a href="/view/{{post_id}}" class="post-clickable">
        <h5>{{title}}</h5>
    </a>
</div>