<div class="check-users">
    <img src="../static/images/profile/{{name}}.png" class="post-profile">
    <div class="name-container">
        <h5><a href="/profile/{{name}}">{{name}}</a></h5>
        <p><a href="/profile/{{name}}">{{username}}</a></p>
    </div>
    <p class="upvote-count">{{contributions}}</p>
</div>