<script src="/static/js/profile.js"></script>
<script src="/static/js/edit.js"></script>

<!-- Profile Content -->
<div class="row-content-container">
    <div id="profile-container">
        <div id="image-container">
            <img src="/static/images/profile/{{user.profile_pic}}" id="profile-pic">
        </div>
        <h2 id="name">{{user.name}}</h2>
        <h4 id="profile-username">{{user.username}}</h4>
        <p id="bio">{{{user.bio}}}</p>
        <input type="button" id="edit-button" value="Edit Profile" onclick="window.location.href='edit.html'">
        <div id="followers-container">
            <img src="/static/images/icons/followers.png">
            <p>{{{user.followers_info}}}</p>
        </div>
    </div>
    <div id="overview-container">
        <!-- Filter Buttons -->
        <div id="filters-container">
            {{#each filters}}
            <button class="filter" data-filter="{{this}}">{{this}}</button>
            {{/each}}
        </div>
        <hr id="filter-hr">

        <!-- Overview -->
        <div id="Overview-view">
            <div class="posts-container">
                {{#each user.postsMade}}
                {{> post this}}
                {{/each}}
                {{#each comments}}
                {{> searchcomment this}}
                {{/each}}
            </div>
        </div>

        <!-- Posts -->
        <div id="Posts-view">
            <div class="posts-container">
                {{#each user.postsMade}}
                {{> post this}}
                {{/each}}
            </div>
        </div>

        <!-- Comments -->
        <div id="Comments-view">
            <div class="posts-container">
                {{#each comments}}
                {{> searchcomment this}}
                {{/each}}
            </div>
        </div>
    </div>
</div>



<button class="scroll-up-button">
    <img src="images/icons/scroll.png" class="scroll-up">
</button>